{% extends 'base.html.twig' %}

{% block body %}



<div class="formSigninContainer">
	<div class="formSigninInContainer">
		<div style="font-size: 28px; text-align: center;">Restricted
			area</div>
		<div>
			There is no user <strong>password</strong> (USER_PW) sent to server.<br>
			Please restart the browser.
		</div>
	</div>
</div>


{% endblock %}


