parameters:
    app.title: The Company's Password Manager
    app.admin_pass_initial: ~
    app.admin_email_initial: ~
    sender:
        name: 'ComPassMan'
        email: 'ComPassMan@mail.com'
    token_seed: ~ 
